.footer {
  background-color: $white;

}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 3.875rem;
}

.copirait {
  font-family: $title-text;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $title-grey;
  text-align: left;
}

.copirait__link {
  text-decoration: none;
  color: $marine;

  &:hover {
    color: $red;
  }
}


.entering-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 23.75rem;
  height: 2.5rem;
}

.entering-place__button {
  font-family: $title-text;
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
  background-color: $marine;
  border: none;
  color: $white;
  width: 9.375rem;
  height: 2.5rem;
  text-transform: uppercase;
}

input[type="email"] {
  font-weight: 300;
  font-style: italic;
  color: rgb(0, 0, 0);
  line-height: 2.25rem;
  border: 0.125rem solid $context-grey;
  border-right: none;
  text-indent: 0.75rem;
  width: 100%;
}

input[type="email"]::-webkit-input-placeholder {
  color: $context-grey;
  width: 14.375rem;

}

input[type="email"]::-moz-placeholder {
  color: $context-grey;
  width: 14.375rem;

}

input[type="email"]:-ms-input-placeholder {
  color: $context-grey;
  width: 14.375rem;

}

input[type="email"]::-ms-input-placeholder {
  color: $context-grey;
  width: 14.375rem;

}

input[type="email"]::placeholder {
  color: $context-grey;
  width: 14.375rem;

}
