.menu {
  width: 100%;
  position: absolute;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 1.625rem;
}

.site-logo {
  color: $white;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;

  &:hover,
  &:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.navigation-list {
  width: 622px;
  margin-top: 0.375rem;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.navigation-list__item--link::after {
  display: block;
  content: "";
  height: 0.25rem;
  background-color: $red;
  margin-top: 0.625rem;
  opacity: 0;
}

.search {
  width: 4.25rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.search__btn {
  width: 0.875rem;
  line-height: 0.875rem;
  background: none;
  border-style: none;

  &:hover .search__btn--icon,
  &:focus .search__btn--icon {
    fill: $red;
  }
}

.search__btn--icon {
  width: 0.875rem;
  height: 0.875rem;
  fill: $white;
}

.navigation-list__item--link {
  font-family: $title-text;
  font-weight: 400;
  font-size: 0.875rem;
  color: $white;
  -webkit-transition: font-size .2s linear;
  -o-transition: font-size .2s linear;
  transition: font-size .2s linear;

  &:focus,
  &:hover {
    color: $red;
    font-size: 1rem;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}
