.services-container {
  padding: 3rem 0 5.875rem;
}

.title {
  text-align: center;
  padding-bottom: 3.875rem;
}

.title-text {
  display: block;
  font-size: 1.5rem;
  font-family: $cursive-title;
  color: $title-grey;
  line-height: 1.75rem;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  margin-bottom: 1.125rem;
}

.section-title {
  display: block;
  font-family: $title-text;
  color: $title-grey;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  text-align: center;

}

.section-title::after {
  content: "";
  display: block;
  width: 3.875rem;
  height: 0.25rem;
  background-color: $red;
  text-align: center;
  margin: 2.5rem auto 0;
}

.services-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.services__item {
  width: 23.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
}

.services__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 6.375rem;
}

.services__item::before {
  content: "";
  display: inline-block;
  margin-left: 1.625rem;
  margin-right: 2.0rem;
  height: 2.5rem;
  width: 2.5rem;
  background-repeat: no-repeat;
}

.services__item--photography::before {
  background-image: url("https://picua.org/images/2019/12/20/74971f2cfb704c954344df052b3a93ca.png");
}

.services__item--web::before {
  background-image: url("https://picua.org/images/2019/12/20/31e4edb08b4b5a5e1cd5384473dd3a2b.png");
}

.services__item--creativity::before {
  background-image: url("https://picua.org/images/2019/12/20/443009be51a2e09809095741257d8483.png");
}

.services__item--seo::before {
  background-image: url("https://picua.org/images/2019/12/20/2908896a89d47f91d9c74a94b09e3ac9.png");
}

.services__item--html-css::before {
  background-image: url("https://picua.org/images/2019/12/20/0747e94aeb6a3a30d56c7010b4666897.png");
}

.services__item--digital::before {
  background-image: url("https://picua.org/images/2019/12/20/ef2b0d281788c56b826de25fce734215.png");
}

.services__item--desc {
  width: 100%;
}

.services__item--desc-title {
  font-family: $title-text;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  color: $title-grey;
  text-transform: uppercase;
}

.services__item--desc-text {
  line-height: 1.5rem;
}
