.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: "Open sans", "Arial", sans-serif;
    font-size: 14px;
    color: #555252;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*navigation blok start*/
.nav {
    height: 92px;
    padding: 24px 0;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 32px;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    margin: 6px 0;
    padding: 0;
    float: left;

}

.logo::first-letter {
    color: #1abc9c;
}

.logo:hover,
.logo:focus {
    color: #1abc9c;
}

.navigation {
    width: 464px;
    margin: 0;
    padding: 0;
    float: right;
}

.navigation-item {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    float: left;
}

.navigation-item-link {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: inherit;

}

.navigation a:hover,
.navigation a:focus {
    color: #1abc9c;
}

.navigation-item:not(:last-child) {
    margin-right: 28px;
}

/*navigation blok end*/

/* section of tours */
.tours {
    min-width: auto;
    min-height: 596px;
    background-image: url("https://picua.org/images/2019/12/17/d4c8f14c5fa8b8d82f9b7357203160b8.jpg");
    background-size: cover;
    position: relative;
}
.tours::after{display: block;
    content: "";
    min-width: auto;
    min-height: 596px;
    background: rgba(0, 0, 2, .5);
position: absolute;
left: 0;
right: 0;}

  




/* end section of tours */

/* shop blok start */
.shop {
    margin: 0;
    padding: 0 0 104px;
    background-color: #e9f0fd;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    margin: 0 0 92px;
    padding: 100px 0 0;
}

.section-title::after {
    display: block;
    content: '';
    width: 164px;
    height: 8px;
    background-color: #1abc9c;
    margin: 32px auto 0;
    padding: 0;
}

.shop-list {
    margin: 0;
    padding: 0;
}

.shop-list-tile {
    width: 255px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.shop-list-tile:not(:nth-child(4n+4)) {
    margin-right: 30px;
}

.shop-list-tile:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}


.shop-list-tile-photo {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 0;
}


.shop-list-tile-name {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 32px;
    background: #323232;
    color: #ffffff;
    width: 193px;
    height: 40px;
    margin: 0;
    padding: 4px 0;
    text-indent: 10px;
    float: left;
}

.shop-list-tile-name-link {
    text-decoration: none;
}


.shop-list-tile-price {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 32px;
    background: #8c8c8c;
    color: #ffffff;
    width: 62px;
    height: 40px;
    margin: 0;
    padding: 4px 0;
    text-align: center;
    float: right;
}



.shop-list-tile:hover .shop-list-tile-name,
.shop-list-tile:focus .shop-list-tile-name {
    background: #1abc9c;
}

.shop-list-tile:hover .shop-list-tile-price,
.shop-list-tile:focus .shop-list-tile-price {
    background: #7fd9c7;
}

/* shop blok end */
/* FOOTER */
.footer {
    background: #323232;
    min-height: 88px;
    padding: 36px 0;

}

.copirait {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    text-align: center;
}

.copirait-link {
    text-decoration: none;
    color: #46bfa9
}