.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: "Open sans", "Arial", sans-serif;
    font-size: 14px;
    color: #555252;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*navigation blok start*/
.nav {
    height: 92px;
    padding: 24px 0;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    margin: 6px 0;
    padding: 0;
    float: left;
}

.logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.logo:hover,
.logo:focus {
    color: #1abc9c;
}

.navigation {
    width: 464px;
    margin: 0;
    padding: 0;
    float: right;
}

.navigation-item {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    float: left;
}

.navigation-item-link {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.navigation a:hover,
.navigation a:focus {
    color: rgb(26, 188, 156);
}

.navigation-item:not(:last-child) {
    margin-right: 28px;
}

/*navigation blok end*/

/* section of tours */
.tours {
    min-width: auto;
    min-height: 100%;
}

.next:hover{
    background-color: rgba(26, 188, 156, 1);
}
.prev:hover{
    background-color: rgba(26, 188, 156, 1);
}

.tours-slider {
    position: relative;
}

.tours-photo {
    width: 100%;
    height: 596px;
    object-fit: cover;
}

.tours-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 2, 0.6);
}

.tours-navigation-text {
    width: 742px;
    height: 98px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-transform: uppercase;

}

.tours-navigation-title {
    font-weight: 900;
    font-size: 58px;
    margin: 0 0 10px;
}

.tours-navigation-item {
    font-weight: 300;
    font-size: 24px;
}

.button {
    height: 104px;
    width: 104px;
    background-color: rgba(26, 188, 156, .6);
    border: none;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

.button-image {
    display: inline-block;
}

.prev {
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

.next {
    float: right;
    background-repeat: no-repeat;
    background-position: center;
}

.control-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end section of tours */

/* shop blok start */
.shop {
    margin: 0;
    padding: 0 0 104px;
    background-color: #e9f0fd;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 92px;
    padding: 100px 0 0;
}

.section-title::after {
    display: block;
    content: '';
    width: 164px;
    height: 8px;
    background-color: #1abc9c;
    margin: 32px auto 0;
    padding: 0;
}

.shop-list {
    margin: 0;
    padding: 0;
}

.shop-list-tile {
    width: 255px;
    list-style: none;
    float: left;
    background: #323232;
}

.shop-list-tile:not(:nth-child(4n+4)) {
    margin-right: 30px;
}

.shop-list-tile:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}

.shop-list-tile-photo {
    margin: 0;
    padding: 0;
}

.shop-list-tile-name {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 32px;
    width: 193px;
    height: 40px;
    margin: 0;
    padding: 4px 0;
    text-indent: 10px;
    float: left;
    text-transform: uppercase;
}

.name-link {
    text-decoration: none;
    color: #ffffff;
}

.shop-list-tile-card {
    position: relative;
}

.shop-list-tile-price {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 32px;
    background-color: rgba(255, 255, 255, .4);
    color: #ffffff;
    width: 62px;
    height: 40px;
    margin: 0;
    padding: 4px 0;
    text-align: center;
    float: right;
}

.shop-list-tile:hover .shop-overlay,
.shop-list-tile:focus .shop-overlay {
    opacity: 1;
    visibility: visible;
}

.shop-list-tile:hover .shop-list-tile-name,
.shop-list-tile:focus .shop-list-tile-name {
    background: #1abc9c;
}

.shop-list-tile:hover .shop-list-tile-price,
.shop-list-tile:focus .shop-list-tile-price {
    background: #7fd9c7;
}

/* Shop overlay */
.shop-overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    border: 10px solid rgba(255, 255, 255, .5);
    background-clip: padding-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-clip: border-box;
}

.shop-list-tile-overlay {
    display: inline-block;
    width: 166px;
    height: 106px;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-list-tile-overlay-item:nth-child(-n+2) {
    margin-right: 6px;
}

.shop-list-tile-overlay-item:last-child {
    margin-top: 4px;
}

.shop-list-tile-overlay-item {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    float: left;
    font-size: 0;
}

.shop-list-tile-overlay-item-icon {
    display: block;
    width: 48px;
    height: 48px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-hart {
    background-image: url("https://picua.org/images/2019/12/18/66ff1150713f4c9a1ab20f0fe0ad69fa.png");
}

.icon-arrows {
    background-image: url("https://picua.org/images/2019/12/18/cb5c6ce4672286b68855786ebb8f75e5.png");
}

.icon-clock {
    background-image: url("https://picua.org/images/2019/12/18/69c1f14853b243d4399665108d521889.png");
}

.icon-basket {
    width: auto;
}

.basket {
    background-color: rgb(50, 50, 50);
}

.overlay-basket-icon {
    background-image: url("https://picua.org/images/2019/12/18/b87f2d6d69570966bc6aa2fbe29cf14f.png");
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay-basket-text {
    display: inline-block;
    width: 112px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    float: right;
    float: top;
}

.shop-list-tile-overlay-item:hover,
.shop-list-tile-overlay-item:focus {
    background-color: rgb(26, 188, 156);
}
/* shop blok end */

/* FOOTER */
.footer {
    background: #323232;
    min-height: 88px;
    padding: 36px 0;
}

.copirait {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    text-align: center;
}

.copirait-link {
    text-decoration: none;
    color: #46bfa9
}

/* END of footer */