/* * { */
/* outline: 1px solid red; */
/* } */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1112px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #555252;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*navigation blok start*/
nav {
    margin: 0;
    padding: 40px 0;
}

.navigation-item a {
    text-decoration: none;
    color: inherit;
}


.logo {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    margin: 0;
    padding: 0;
    float: left;
}

.logo:hover,
.logo:focus {
    color: #1abc9c;
}

.navigation {
    width: 464px;
    margin: 0;
    padding: 0;
    float: right;
}

.navigation-item {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.navigation a:hover,
.navigation a:focus {
    color: #1abc9c;
}

.navigation-item:not(:last-child) {
    margin-right: 31px;
}

/*navigation blok end*/



/* shop blok start */
.shop {
    margin: 0;
    padding: 0 0 104px;
}

h2 {
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding: 0 0 92px;
}

h2::after {
    display: block;
    content: '';
    width: 164px;
    height: 8px;
    background-color: #1abc9c;
    margin: 32px auto 0;
    padding: 0;
}

.shop-list {
    margin: 0;
    padding: 0;
}

.shop-list-tile {
    width: 255px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.shop-list-tile:not(:nth-child(4n+4)) {
    margin-right: 30px;
}

.shop-list-tile:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}


.shop-list-tile-photo {
    margin: 0;
    padding: 0;
}


.shop-list-tile-name {
    background: #323232;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    width: 193px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    float: left;
}


.shop-list-tile-price {
    background: #8c8c8c;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    width: 62px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
}



.shop-list-tile:hover .shop-list-tile-name {
    background: #1abc9c;
}

.shop-list-tile:hover .shop-list-tile-price {
    background: #7fd9c7;
}

/* shop blok end */

/* News blok start */
.news {
    margin: 0;
    padding: 0 0 104px;
}

.news-list {
    margin: 0;
    padding: 0;
}

.news-list-item {
    width: 350px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.news-list-img {
    margin: 0;
    padding: 0 0 14px;
}

.news-list-annotation {
    font-size: 18px;
    margin: 0;
    padding: 0 0 40px;
}

.news-list-annotation::after {
    display: block;
    content: '';
    width: 136px;
    height: 4px;
    background-color: #1abc9c;
    margin: 10px 0 0;
    padding: 0;
}

.news-list-text {
    font-size: 14px;
    margin: 0;
    padding: 0 0 14px;
}

.news-list-link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #f3fbf9;
    border-radius: 4px;
    width: 130px;
    height: 52px;
    margin: 0;
    padding: 0;
    background: #1abc9c;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.news-list-link:hover,
.news-list-link:focus {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.news-list-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}

.news-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

/* THE END */